<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Look what Fusemachines Fellow Built</h1>
      <div class="cards-container">
        {% for project in projects %}
          <div class="card">
            <h2>{{ project.name }}</h2>
            <p class="author">By: {{ project.author_name }}</p>
            <p class="module">Module: {{ project.module_name }}</p>
            <a href="{{ project.github_url }}" class="github-button">View on GitHub</a>
          </div>
        {% endfor %}
      </div>
      <button class="submit-button" onclick="window.location.href='/submit'">Submit an Assignment</button>
    </div>
  </body>
</html>
